<!-- Header ================================================================================= -->
	<header class="cbp-af-header primary-border-color fadeInDown">
		<div class="row">
		
			<div class="sub-row">		
				<a class="logo" title="Home">	
									
		  	<!-- TEXT LOGO -->
		  	<!-- <span class="text-logo">Inspirazi<span class="primary-color"> CS</span></span> -->  	 					
				</a>
	
				<nav>
					<ul class="menu-list">
						<li><a>ABOUT</a></li>
						<li><a>SERVICE</a></li>
						<li><a>CONTACT</a></li>
					</ul>
		
					<ul class="social-list">
						<li class="separator">|</li>
						<li><span class="iconFont"><a onclick="window.open('http://www.twitter.com/','_blank');" class="fa fa-twitter"></a></span></li>
						<li><span class="iconFont"><a onclick="window.open('http://www.facebook.com/','_blank');" class="fa fa-facebook"></a></span></li>															
					</ul>										
				</nav>
			</div>
						
		</div>
	</header>
<!-- Header END ================================================================================= -->


<!-- Section Home ================================================================================= -->
	<section class="home">
      <div class="row">     
      
	      <div class="home-content">	      
	            <h1>StressBro<br>Coming Soon.</h1>			
				
				<div class="subscribe-box">
					<h6>Subscribe to get notified, when we launch!</h6>
					<form id="form-subscribe" name="form-subscribe">
						<input type="text" id="email-subscribe" name="email-subscribe" class="email required">
						<input type="submit"  class="button" value="SUBMIT" id="submit_subscribe">  
																
					</form>
					<span class="subscribe_loading">loading..</span>
				</div>
				
				<div class="subscribe_message">
					<h3>Thank you!</h3>
					<p>We have received your message.</p>
				</div>
				
				<div id="clock">		 
				  	<p><span id="days" class="primary-color"></span><strong> days</strong></p>
				  	<p><span id="hours"></span><strong> hours</strong></p>
				  	<p><span id="minutes" class="primary-color"></span><strong> minutes</strong></p>
				    <p><span id="seconds"></span><strong> seconds</strong></p>    
				</div>				
		  </div>
		  	  
	  </div>
	</section>
<!-- Section Home END ================================================================================= -->	
	
	
	
<!-- Section About ================================================================================= -->	
	<section class="about">
		<div class="row">
			<h2>ABOUT US</h2>
			<p>스트레스브로는 다수의 사용자로부터 수면시간, 식사량, 운동량 등의 데이터 입력을 받아 빅데이터 분석을 통해 개인별 맞춤형 진단으로 돌려주는 인공지능 스트레스 관리 서비스입니다. </p>
		</div>
	</section>
<!-- Section About END ================================================================================= -->	



<!-- Section Service ================================================================================= -->		
	<section class="service">		
		<div class="row">



		<div>
			<!-- element 1 -->
			<div class="feature left" id="feature1">
				<span class="iconFont"><i class="fa fa-cogs"></i></span>
				<h3>재미와 보상</h3>				
				<p>Sed ut persp iciatis unde omnis iste natus error sit volup tatem accus antium dolor emque laud antium, totam rem.</p>
			</div>
		
			
			<!-- element 2 -->	
			<div class="feature left" id="feature2">
				<span class="iconFont"><i class="fa fa-bullseye"></i></span>
				<h3>빅데이터</h3>				
				<p>Sed ut persp iciatis unde omnis iste natus error sit volup tatem accus antium dolor emque laud antium, totam rem.</p>
			</div>
			
		
			<!-- element 3 -->		
			<div class="feature left last" id="feature3">
				<span class="iconFont"><i class="fa fa-laptop"></i></span>
				<h3>맞춤형 인공지능</h3>								
				<p>Sed ut persp iciatis unde omnis iste natus error sit volup tatem accus antium dolor emque laud antium, totam rem.</p>
			</div>
			
		</div>


<!-- If you prefer two columns and six elements, remove this comment AND open css/base.css add and following code at line 237: 
                                                                                          .row2 .feature{opacity:1 !important;}                                                                                         	
		<div class="row2">

			<div class="feature left" id="feature4">
				<span class="iconFont"><i class="fa fa-mobile"></i></span>
				<h3>MOBILE RESPONSIVE</h3>				
				<p>Sed ut persp iciatis unde omnis iste natus error sit volup tatem accus antium dolor emque laud antium, totam rem.</p>
			</div>

			<div class="feature left" id="feature5">
				<span class="iconFont"><i class="fa fa-wrench"></i></span>
				<h3>DIGITAL TOOL</h3>				
				<p>Sed ut persp iciatis unde omnis iste natus error sit volup tatem accus antium dolor emque laud antium, totam rem.</p>
			</div>
	
			<div class="feature left last" id="feature6">
				<span class="iconFont"><i class="fa fa-thumbs-o-up"></i></span>
				<h3>SEO TECHNIQUES</h3>								
				<p>Sed ut persp iciatis unde omnis iste natus error sit volup tatem accus antium dolor emque laud antium, totam rem.</p>
			</div>
			
		</div>		
End comment -->	

			
		</div>		
	</section>
<!-- Section Service END ================================================================================= -->		
	
<!-- Section Contact ===================================================================================== -->		
	<section class="contact">


	<!-- google maps -->		 	
		<div id="map-canvas"></div>	

	 
	
		<div class="row">
			<div class="info">
				<h2>SAY HELLO</h2>
				<h3>Say hello with the form below,<br>or give us a call or email.</h3>
				<ul>
					<li><p><span class="iconFont"><i class="fa fa-map-marker"></i></span><span class="text">Surrey, BC V3W 5Y8, Canadá, CA 12457</span></p></li>
					<li><p><span class="iconFont"><i class="fa fa-phone"></i></span><span class="text">+1 563-273-3040</span></p></li>
					<li><p><span class="iconFont"><i class="fa fa-envelope"></i></span><span class="text">contact@mydomain.com</span></p></li>
				</ul>
				

			
			</div>
		
	<!-- form contact -->	
		<div class="form-contact">
		
			<div class="cont-send">
				<p class="success">Your message was sent successfully.</p>
			</div>		

			<form id="form-contact" >
			
				<span class="name-input-cont">
					<label for="name">Your name:</label>
					<input type="text" id="name" name="name"  class="required">
				</span>
				
					<span class="email-input-cont">
					<label for="email">Email adress:</label>
					<input type="text" id="email" name="email" class="required email">
				</span>	
				
				<span class="message-cont">
					<label for="comment">Message:</label>
					<textarea id="comment" class="required" name="comment" ></textarea>
				
				</span>	
				<span class="load-form"></span>					
				<input type="submit"  class="button" value="SEND MESSAGE" id="submit_contact_form">			
			</form>		
		</div>			
	

		</div>
	</section>
<!-- Section Contact END ======================================================================= -->		
	
<a id="prev"></a>

<!-- Footer ==================================================================================== -->
	<footer>
		<div class="row">
			<small>Company name Copyright &#169; 2013, All rights reserved.</small>
				<ul class="social">
					<li><span class="iconSocial"><a href="#" class="fa fa-facebook"></a></span></li>
					<li><span class="iconSocial"><a href="#" class="fa fa-twitter"></a></span></li>
					<li><span class="iconSocial"><a href="#" class="fa fa-pinterest"></a></span></li>	
					<li><span class="iconSocial"><a href="#" class="fa fa-youtube"></a></span></li>
					<li><span class="iconSocial"><a href="#" class="fa fa-instagram"></a></span></li>
					<li><span class="iconSocial"><a href="#" class="fa fa-github-alt"></a></span></li>										
					<li><span class="iconSocial"><a href="#" class="fa fa-tumblr"></a></span></li>
					<li><span class="iconSocial"><a href="#" class="fa fa-google-plus"></a></span></li>			
				</ul>
		</div>
	</footer>
<!-- Footer ends =============================================================================== -->		
